In [24]:
import pandas as pd
import numpy as np

In [30]:
xls_file = pd.ExcelFile("book1.xlsx")

In [32]:
df = pd.read_excel(xls_file, sheet_name="Book1")

In [33]:
df

   Unnamed: 0  Unnamed: 1  Unnamed: 2
0           1           2           3
1           4           5           6
2           7           8           9

In [34]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')

In [35]:
xls_file = pd.ExcelFile("book1.xlsx")
df = pd.read_excel(xls_file, sheet_name="Book1")
blank_col = False
for col_name in df.columns:
    if "Unnamed" in col_name:
        blank_col = True
if blank_col == True:
    print("At least one column header contains Unnamed! \n Re-reading data and skipping row 1")
    df = pd.read_excel(xls_file, sheet_name="Book1", skiprows=1)

At least one column header contains Unnamed!
 Re-reading data and skipping row 1

In [36]:
df

   1  2  3
0  4  5  6
1  7  8  9